@font-face{
    font-family:'HanyiSentyJournal' ;
    src: url(../font/HanyiSentyJournal.woff) format('woff'),
    url(../font/HanyiSentyJournal.ttf) format('truetype'),
    url(../font/HanyiSentyJournal.eot) format('embedded-opentype')
  }
  .B
  {
      height: 700px;
  }
  .imgslides
{
    width: 50%;
    height: 600px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: -300px;
}
.top{
    text-align: center;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    position: relative;
    top: 20px;

}
.topteacher{
    
    writing-mode: vertical-lr;
    font-family:'HanyiSentyJournal';
    font-size: 50px;
    display: inline-block;
    position: relative;
    top: 80px;
    left: 20%;
}
